.ripple-background {
    bottom: -35px;
    position: fixed;
    z-index: -2;
    
}

.ripple-background{
    width: 550px;
    height: 700px;
}
.bkg{
   width: 550px;
    height: 700px;
   z-index: -1;
}

.iconebg {
    position: fixed;
    left: -4%;
    top: 6%;
    z-index: -1;
    width: 300px;
}


* {
    margin: 0;
    padding: 0;
}


body {
    background: #6e9fd7;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;

}
.fundo{
   width: 100%;
 
}
.praia{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 105%;
   z-index: -4;
}
.ceu{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -5;
   opacity: 80%;
}
.chuva{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -3;
   opacity: 10%;
}



.grid-coluna {
    padding: 20px 0px 5% 0px;
    display: grid;
    grid-template-columns: [vazio]2fr [temperatura]3fr [recomendacao]2fr;
    align-items: stretch;
    gap: 10px;
    font-family: "Ubuntu";


}

.sunset-sunrise {
    max-width: 600px;
    margin: 0 auto;
}

.temperature-details {
    max-width: 750px;
    margin: 0 auto;
}

#gustA,
#gustR {
    width: 1000px;
    margin: 0 auto;
}

#gustS {
    width: 100px;
}

.text-email {
    font-family: "Ubuntu", sans-serif;
    padding: 0 10px;
}

.addemail {
    display: flex;
    flex: 1;
    align-items: center;
    width: 800px;
}

.email-input {
    flex: 1 auto;
    border: none;
    height: 30px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin-right: -15px;
    width: 250px;
}
.email-input:focus{
   outline: none;
}

.email-button {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    border: none;
    border-radius: 100%;
    background: #393939;
    color: #f3f4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3);
}
.email-button:hover {
    filter: brightness(1.25);
}
.botao-email{
    display: flex;
    width: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
}


/* Header */

.header {
    display: flex;
    padding: 10px 10px 10px 10px;
    align-content: center;
    align-items: center;
    background-color: #ffffff89;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 15px 15px;
}

.header__city-search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 400px;
}

.header__input {
    flex: 1 auto;
    border: none;
    height: 30px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin-right: -15px;
    width: 300px;
}
.header__input:focus{
   outline: none;
}

.header__button {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    border: none;
    border-radius: 100%;
    background: #393939;
    color: #f3f4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

}

.header__button:hover {
    filter: brightness(1.25);
}

.header__city-name {
    padding: 0px 0px 0px 10px;
    flex: 2;
    font-size: 25px;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

.alert-vidro{
    margin-top: 50px;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff89;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 15px;
    display: none; 
}

.info-alerts {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

.alert-message_alert {
    font-size: 16px;
    overflow: scroll;
   max-width: 500px;
   word-wrap: break-word;
   text-align: center;
   font-family: "Ubuntu", sans-serif;
}

.alert-message_alert::-webkit-scrollbar {
    width: 0;
}

.alert-message_alert p {
    margin-bottom: 10px;
    background-color: #ffffff89;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 15px;
    
   
    
}

.recomendacao {
    /* display:flex; */
    flex-direction: column;
    grid-column: recomendacao;
    align-content: space-around;
    
}

.recomendacao h1 {
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.container-recomendacao {
    width: 300px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff89;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 15px;
    min-height: 230px;


}

.conteudo-recomendacao {
    display: flex;
    overflow: hidden;
    overflow-wrap: break-word;
    word-break: break-all;
    align-items: center;
    padding: 1px;
    flex-direction: column;
}

.icone-recomendacao {
    width: 150px;
    align-items: center;
    justify-content: center;
}




/*current temperature */

.current-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    grid-column: temperatura;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
    
   
}
.current-temperature .vidro {
   content:'';
   z-index: -1;
   justify-content: center;
   align-content: center;
   position:absolute;
   width: 300px;
   height: 280px;
   border-radius: 15px;
   background-color: #ffffffb1;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   
}

.current-temperature__weather-icon {
    width: 125px;
    margin-top: 15px;
    
    
}

.current-temperature__description {
    color: #484848;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
}

.current-temperature__info-label {
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.current-temperature__current-temperature {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

/*Button container */

.button-container {
    padding-bottom: 10px;
    position: fixed;
    align-items: center;
    bottom: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: #ffffff96;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.temperature-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.temperature-details__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-right: 1px solid #a2a2be;

}

.temperature-details__item:last-child {
    border: none;
}

.temperature-details__label {
    color: #727272;
}

.temperature-details__value,
.sunset-sunrise__value {
   color: #2e2e2e;
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
}

/* icone do sol */

.sunset-sunrise {
    display: flex;
    margin: 3px auto;
}

.sunset-sunrise__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #a2a2be;
}

.sunset-sunrise__item:last-child {
    border: none;
}



/* Quando a largura da tela atingir 1060px ou mais */
@media (max-width: 1060px) {

    .grid-coluna {
        display: flex;
        flex-direction: column;
        /* Mudar para layout de coluna flexível */
        /* gap: 10px; */
        /* Espaçamento entre os itens */
        justify-content: center;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        background-color: #ffffff33;
    }

    .header {
        flex-direction: column;
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        background-color: #ffffff33;
        border-radius: 0;

    }

    .header__city-name {
        justify-content: end;
    }

    .ripple-background {
        opacity: 60%;

    }

    .container-recomendacao {
        height: 500px;
        
    }
    .recomendacao{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addemail{
        max-width: 400px;
       margin-top: 5px;
    }
    
}


/* Quando a largura da tela atingir 80px ou mais */
@media (max-width: 800px) {
    .button-container {
        overflow-x: auto;
    }

    .temperature-details {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        text-align: center;
        min-width: 500px;
    }

    .temperature-details::-webkit-scrollbar {
        width: 0;
    }

    #gustA,
    #gustR {
        padding: 0px 1px 0px 1px;
    }

    .temperature-details__item .sunset-sunrise__item {
        padding: 0px 5px 0px 5px;

    }

    .temperature-details__label {
        padding-left: 5px;
        padding-right: 5px;
    }

    .header__city-search-bar {
        width: 350px;
        position: relative;
        margin-top: 50px;
       
    }
    .header{
       border-radius: 0;
    }
    

    .grid-coluna {
        width: auto;
        margin: 0;
    }
    .addemail{
        max-width: 350px;
       margin-top: 5px;
    }
    .text-email{
       margin-top: 20px;
    }
    .header__city-name{
       margin-top: 10px;
       position: absolute;
    }
    .alert-message_alert {
       width: 350px;
       text-align: center;
    }

    .current-temperature::before {
       width: 300px;
       height: 70%;
       background-color: #ffffff89;
       backdrop-filter: blur(10px);
       -webkit-backdrop-filter: blur(10px);
      border-radius: 15px ;
   }
   .container-recomendacao{
       width:80%;
        margin-bottom: 20%;
   }


}