 .ripple-background{
  top: 0;
  position: fixed;
  z-index: -2;
  opacity: 70%;
 }
 .ripple-background .bkg {
  width: 550px;
  height: 700px;
 }
 .bgefeito{
    position: fixed;
    left: 0;
    top: 0;
    width: 550px;
    height: 700px;
    z-index: -3;
 }
 .iconebg{
    position: fixed;
    left: -4%;
    top: -2%;
    z-index: -1;
    width: 300px;
 }
 

* {
    margin: 0;
    padding: 0;
    display: f;
}


body {
    background: #6e9fd7;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: auto;
   
}



.grid-coluna{
    padding-top: 50px;
    display:grid;
    grid-template-columns: [vazio]2fr [temperatura]3fr [recomendacao]2fr;
    align-items: stretch;
    gap: 10px;
    
}

.sunset-sunrise  {
    max-width: 600px;
    margin: 0 auto;
}

.temperature-details{
    max-width: 750px;
    margin: 0 auto;
}

#gust{
    width: 1000px;
    margin: 0 auto;
}
.text-email{
    font-family: "Ubuntu", sans-serif;
    padding: 0 10px;
}

.add-email{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
}
.email-input{
    flex: 1 auto;
    border: none;
    height: 30px;
    width: 150px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin-right: -15px;
}
.email-button{
    width: 50px;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    appearance: none;
    border: none;
    background-color: #393939;
    color: #fff;
}
/* Header */

.header {
    display: flex;
    padding: 20px 20px;
    align-content:center;
    align-items: center;
}

.header__city-search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 400px;
}

.header__input {
    flex: 1 auto;
    border: none;
    height: 30px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    appearance: none;
    margin-right: -15px;
    width: 300px;
}

.header__button {
    cursor: pointer;
    min-width: 40px;
    min-height: 40px;
    border: none;
    border-radius: 100%;
    background: #393939;
    color: #f3f4fb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
     rgba(0, 0, 0, 0.3);;
       
}

.header__button:hover {
    filter: brightness(1.25);
}

.header__city-name {
   padding: 0px 0px 0px 10px;
    flex: 2;
    font-size: 25px;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}
.info-alerts{
  font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}
.alert-message_alert{
  font-size: 16px;
  color: #c30000;
  padding: 15px;
}
.alert-message_alert p{
    margin-bottom: 10px;
}

.recomendacao{
    display:flex;
    flex-direction: column;
    grid-column: recomendacao;
    align-content: space-around;
  
}
.recomendacao h1 {
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.container-recomendacao{
    align-items: center;
    justify-content: center;
    
    
}

.conteudo-recomendacao{
    overflow: hidden;
	overflow-wrap: break-word;
    word-break: break-all;
    padding: 15px;

    
}




/*current temperature */

.current-temperature {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 5px;
    grid-column: temperatura;


}

.current-temperature__weather-icon {
    width: 125px;
    margin-top: 15px;
}

.current-temperature__description {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
}

.current-temperature__info-label {
  font-weight: 500;
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.current-temperature__current-temperature {
      font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}
/*Button container */

.button-container {
    padding-bottom: 2%;
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.temperature-details {
    display: flex;
    margin-top: 30px;
}

.temperature-details__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #a2a2be;
}

.temperature-details__item:last-child {
    border: none;
}

.temperature-details__label {
    color: #a2a2be;
}

.temperature-details__value,
.sunset-sunrise__value {
    margin-top: 7px;
}

/* icone do sol */

.sunset-sunrise {
    display: flex;
    margin: 30px auto;
}

.sunset-sunrise__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #a2a2be;
}
.sunset-sunrise__item:last-child{
  border: none;
}



  /* Quando a largura da tela atingir 1060px ou mais */
@media (max-width: 1060px) {
  
    .grid-coluna {
      display: flex;
      flex-direction: column; /* Mudar para layout de coluna flexível */
      /* gap: 10px; */ /* Espaçamento entre os itens */
      justify-content: center;
      backdrop-filter: blur( 13.5px );
      -webkit-backdrop-filter: blur( 13.5px );
      background-color: #ffffff33;
    }
    .header{
        flex-direction: column;
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        background-color: #ffffff33;
        
    }
    .header__city-name{
        justify-content: end;
    }
    
    .ripple-background{
        opacity: 60%;

    }
    .container-recomendacao{
        height: 500px;
    }
  }


   /* Quando a largura da tela atingir 80px ou mais */
  @media (max-width: 800px) {

    
    .temperature-details{
        width: calc(65px * 7);
        justify-content: center;
        align-items:center ;
        overflow:hidden;
        font-size: 10px;
        text-align: center;
        
    }
   
    .temperature-details__item{
        padding: 0px 4px 0px 4px;
    }
    .header__city-search-bar{
        width: 350px;
    }

  }